<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LikeLion.LikeLion5.weeks1.mapper.PostMapper">
    <insert id="createBoard" useGeneratedKeys="true" keyProperty="id" parameterType="LikeLion.LikeLion5.weeks1.dto.boardDto">
        insert into board(name) values (#{name})
    </insert>
</mapper>